@font-face {
  src: url('./fonts/AbrilFatface-Regular.ttf');
  font-family: Fatface;
}
.fatface{
  font-family: Fatface;
}

@font-face {
  src: url('./fonts/DancingScript-VariableFont_wght.ttf');
  font-family: Dancing;
}
.dancing {
  font-family: Dancing;
}

@font-face {
  src: url('./fonts/Monoton-Regular.ttf');
  font-family: Monoton;
}
.monoton {
  font-family: monoton;
}

@font-face {
  src: url('./fonts/PressStart2P-Regular.ttf');
  font-family: Start2p;
}
.start2p {
  font-family: Start2p;
}

@font-face {
  src: url('./fonts/ShadowsIntoLight-Regular.ttf');
  font-family: Shadow;
}
.shadow {
  font-family: Shadow
}
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.title {
  font-family: 'Londrina Shadow', cursive;
  font-size: 6vh;
  color: white;
  font-weight: bolder;
}
.content {
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;  
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #ADC7D9 !important; 
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {float:none;}

.navbar-brand-centered {
  position: absolute;
  left: 46%;
  display: block;
  width: 160px;
  text-align: center;
  background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
  margin-left: -80px;
}

.navbarcolor {
  background-color: #69A6D1;
}

.textcolor {
  color: #414B52;
}
.name {
  position: fixed;
  top: 375px;
  right: 0;
  /* text-align: right; */
  /* font-family: Fatface; */
  /* font-family: Dancing; */
  /* font-family: monoton; */
  font-family: Start2p;
  /* font-family: Shadow; */
}
.right {
  position: fixed;
  /* text-align: right; */
  right: 0;
}
.left {
  position: fixed;
  text-align: left;
}
.center {
  margin: 0 auto;
  position: fixed;
  top: 475px;
  width: 33%;
}
.quote_background {
  background-color: black;
  opacity: 50%;
  z-index: 2;
}
.quotes {
  background-color: white;
  opacity: .5;
  text-align: center;
  justify-content: center;
  z-index: 5;
}