body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.upload-img {
  height: 15%;
  width: 15%;
  margin-left: 5px;
}
 
.image {
  height: 800px;
  width: 100%;
  margin: 0 auto;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 5px
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 100px;
}

.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.imagecreated-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: auto;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.btn {
  height: 55px;
  width: 160px;
  border: none;
  border-color: none;
  color: black;
  background-color: #ADC7D9 !important;
}

.btn-success {
  width: 150px;
  border-color: none;
  color: black;
}

.home-header {
  margin: 30px
}

.centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}